{% extends "layouts/base.njk" %}

{% block content %}
  <article class="main-block">
    <h1>Articles</h1>

    <div class="article-intro">
        {{ content | safe}}
    </div>
    
    <div class="articles-grid">
      {% for post in collections.posts | reverse %}
        <article class="article-card">
          <h2>
            <a href="{{ post.url }}">
              {% if post.data.icon %}
                <i data-lucide="{{ post.data.icon }}"></i>
              {% endif %}
              {{ post.data.title }}
            </a>
          </h2>

          {% if post.data.description %}
            <p class="excerpt">{{ post.data.description }}</p>
          {% endif %}


          <div class="flex-spacer"></div>

          <div class="post-footer-meta-row">
            <span class="post-date">
              <i data-lucide="calendar"></i> {{ post.date | auDate("dd-MMM-yyyy") }}
            </span>
            <span class="card-read-time">
              <i data-lucide="clock"></i> {{ post.templateContent | readingTime }} read
            </span>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
